@media screen and (min-width: 1024px) and (max-width: 1650px) {
    .main-sidebar {
        width: 55px;
        .sidebar-brand {
            img {
                width: 40px;
            }
        }

        .sidebar-inner .icon-menu {
            .sidebar-item {
                justify-content: center;
                .sidebar-item-text {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .app-wrapper {
        width: 100%;
        margin-left: 0;
        min-height: calc(100vh - 50px);
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .app-wrapper {
        width: 100%;
        margin-left: 0;
        min-height: calc(100vh - 50px);
        margin-top: 50px;
    }
}
