.h-avatar {
    position: relative;
    display: inline-block;
    vertical-align: bottom;

    .avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .badge {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 16px;
        width: 16px;
        border: 1px solid $white;
    }

    img {
        display: block;
        border-radius: 50%;
    }
}

.avatar-stack {
    display: flex;

    .h-avatar {
        border-radius: 50%;
        background-color: $white;
        &:not(:first-child) {
            $var: 10;

            @for $i from 1 through 99 {
                &:nth-child(#{$i}) {
                    margin-left: -#{$var}px;
                    z-index: $i;
                }
            }
        }

        .avatar-link {
            display: inline-block;
            height: 30px;
            width: 30px;

            .avatar {
                width: 100%;
                min-width:  100%;
                height:  100%;
                object-fit: cover;
                border: 1px solid lighten($tile-grey, 10%);
            }
        }

        .avatar-link:hover{            
            .avatar{                
                border: 2px solid lighten($h-light-blue, 5%);
            }            
        }
    }
}
