.project-card {
    padding: 0.5rem 1rem 1rem 1rem;
    border-top: 10px solid $reactjs;

    h5 {
        font-family: $font-alt;
        font-weight: 400;
        font-size: rem;
        text-transform: uppercase;
        color: $h-deep-blue;
        margin-bottom: 0.5rem;
    }

    .project-card-section {        
        font-size: 0.7rem !important;

        .section-content {
            .project-wrapper {
                .project-item-wrapper {
                    
                    .project-item {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        .project-icon {
                            width: 40px;
                            min-width: 40px;
                            height: 40px;
                        }
                        .meta {
                            margin-left: 0.5rem;
                            
                            > span {
                                font-family: $font;
                                display: block;

                                span {
                                    padding-right: 0.5rem;
                                }
                            }

                            .meta-title {
                                font-weight: 400;
                                font-size: 0.9rem;
                                color: $h-deep-blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
