.lite-nav-bar {
    width: 80%;
    border-left: 1px solid $tile-grey;
    min-height: 100%;
    display: flex;
    align-items: center;

    .icon-menu {
        display: flex;
        align-items: center;
        height: 100%;

        li {
            width: 50px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            margin-left: 5px;

            a {
                height: 100%;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 10px;
                }

                svg {
                    color: $h-blue;
                    height: 30px;
                    width: 30px;
                }

                //active icon state

                &:hover svg {
                    color: $accent;
                }

                &.is-active svg {
                    color: $primary;
                }

                &:hover span {
                    background-color: $background-default ;
                }

                &.is-active span {
                    background-color: $background-default ;
                }
            }
        }
    }
}
